# Configurações do Banco de Dados (Docker Local)
DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/ponto_eletronico?schema=public"

# Configurações do Servidor
PORT=3001

# Autenticação JWT (Preencha com uma string secreta segura em Produção)
JWT_SECRET="sua_chave_secreta_para_desenvolvimento"
